/**
 * temporary styles
 */

:root {
    --primary-color: #3e3e3e;
    --secondary-color: #272727;
    --tertiary-color: #1c1d1d;
    --quaternary-color: #333;
    --quinary-color: #eee;
    --senary-color: #000;
    --septenary-color: #666;
    --octonary-color: #222;
    --nonary-color: rgb(19, 19, 19);
    --blue: rgb(93, 146, 245);
    
    --icon-width-small: 18px;
    --icon-width-medium: 24px;
    --icon-width-large: 32px;
    --icon-width-xlarge: 48px;
    --icon-width-xxlarge: 64px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-width: screen;
    min-height: screen;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, var(--nonary-color) 0%, var(--octonary-color) 100%);
    color: #eee;
    position: relative;
    overflow: hidden;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    gap: 1em;
}

header {
    width: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin: 0 auto;
    gap: 0.25em;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    header {
        margin-top: 2em;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }
    header {
        margin-top: 1em;
        flex-direction: column;
    }
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto;
    padding: 1em;
    color: #eee;
    text-shadow: 2px 2px 2px #000;
}

img {
    border-radius: 24px;
    filter: contrast(0.75);
}
a {
    text-decoration: none;
    color: #eee;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* buttons */
button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to right, var(--blue) 100%, var(--octonary-color) 50%);
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, var(--blue) 100%, var(--octonary-color) 100%);
}
button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--blue);
}

footer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    gap: 1em;
    position: absolute;
}

p {
    font-size: 1rem;
    color: #eee;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}